@import '~bulma';

html {
  background: black;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: none;
  font-feature-settings: none;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
  background: black;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow: hidden;

  font-size: 24px;
  line-height: 1.29;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 1.36;
  }
}

* {
  box-sizing: border-box;
}

strong {
  color: white;
  font-weight: 600;
}

.container {
  @include mobile {
    margin: auto 15px;
  }

  @include tablet-only {
    margin: auto 30px;
  }
}

// Bulma overrides
.columns {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  margin-top: 2.5rem;
}

.column {
  padding: 1rem 1.5rem;
  position: relative;
  @media (max-width: 768px) {
    padding: 1rem 0.5rem;
  }
}
